body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202124;
  width: 100%;
  height: 80vh;
  background-image: url("https://i.pinimg.com/564x/37/c5/d4/37c5d4271c00a6900bf1c442d55bee5a.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  width: 100%;
  height: 70px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.045);
}
nav .logo {
  width: 8%;
  height: 100%;
}
nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.chat-container {
  width: 550px;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-input {
  display: flex;
  padding: 8px;
  border-top: 1px solid #3f4246;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 8px;
  background-color: #ffffff00;
  outline: none;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
input[type="text"]::placeholder {
  color: white; /* Placeholder text color */
}
.chat-input button {
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  background-color: #ffffff00;

  color: #fff;
  cursor: pointer;
}
.chat-input button:hover {
  color: rgb(98, 236, 0);
}
.google-logo {
  width: 50%;
  margin: auto;
  height: 30vh;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */
.footer {
  background-color: rgba(255, 255, 255, 0.045);

  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("https://i.pinimg.com/564x/37/c5/d4/37c5d4271c00a6900bf1c442d55bee5a.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .chat-container {
    width: 95%;
    margin: auto;
  }

  .google-logo {
    width: 80%;
    margin: auto;
    height: 25vh;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .chat-input input[type="text"],
  .google-logo,
  .chat-input button {
    background-color: transparent;
  }
  nav .logo {
    width: 20%;
    height: 100%;
  }
  nav .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
